<launch>
  <param name="rosconsole_config_file" value="$(find harada-tsubakino)/config/rosconsole.conf" if="$(optenv USE_ROSLOG_CONFIG false)" />

  <node pkg="lightrover_ros" type="i2c_controller.py" name="rover_i2c_controller" />
  <node pkg="lightrover_ros" type="pos_controller.py" name="rover_pos" />
  <node pkg="harada-tsubakino" type="serial_sensor_bridge.py" name="serial_sensor_bridge">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="115200" />
  </node>

</launch>
